@import './importcss.css';

:local .a {
    color: red;
     background: url('./photo.png');
}

:global .aaaaaaaaaaaaa {
    color: black;

}

.b .c {
    color: purple;
}


/*坑 ，格式化的时候注意：前有空格*/

.b   :global(.c) .d {
    color: blue;
    display: flex;
    transition: all .3s;
}

:local  .define-class {
    composes: a;
    background: red;
}
